name: CI
on:
  push:
    branches:
      - main
  pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - uses: ianwalter/puppeteer-container@v4.0.0
        with:
          args: pnpm i
      - uses: ianwalter/puppeteer-container@v4.0.0
        with:
          args: pnpm t
